<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1 Мая</title>

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#302b44">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#302b44">
  <meta name="msapplication-config" content="favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <script>
    const MEDIA = {
      xs: 395.98,
      sm: 545.98,
      md: 749.98,
      lg: 1259.98,
    }
  </script>
</head>

<body>
  <header class="header">
    <div class="header-logo">
      <img src="img/logo.png" alt="">
    </div>
    <div class="header-sign">
      <img src="img/started-sign.svg" alt="">
    </div>
  </header>

  <section class="started">
    <div class="started-title title fade-in-down" data-scroll>
      Поздравляем вас <br>
      праздником весны и труда!
    </div>
    <div class="started-subtitle  fade-in-down" data-scroll>
      Чувствуете? Это запах шашлыка, грядущих выходных и неприлично <br>
      длинного списка дел, который нужно сделать до конца рабочей недели :) <br>
      Мы подскажем вам, какие места стоит посетить на выходных, <br>
      если вы проживаете в Краснодаре или рядом с ним
    </div>
    <div class="started-img started-img--1 fade-in-down" data-scroll>
      <img src="img/started-img-1.png" alt="">
    </div>
    <div class="started-img started-img--2 fade-in-down" data-scroll>
      <img src="img/started-img-2.png" alt="">
    </div>
    <div class="started-img started-img--3 fade-in-down" data-scroll>
      <img src="img/started-img-3.png" alt="">
    </div>
  </section>

  <section class="fact ">
    <div class="swiper fade-in-down" data-scroll>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="fact-item fact-item--1">
            <div class="fact-item-content">
              <div class="fact-item-sign">Для семейного отдыха и уединения с природой</div>
              <div class="fact-item-title">
                Парк <br>
                «Солнечный <br>
                остров»
              </div>
              <div class="fact-item-desc">
                Аттракционы на любой вкус, спортивные площадки, <br>
                сафари-парк, планетарий и многое другое скрасят <br>
                досуг в компании друзей или семьи. <br>
                <br>
                В праздничные дни здесь проходят массовые <br>
                мероприятия. Именно на сцены «Солнечного острова» <br>
                приглашаются местные музыкальные коллективы <br>
                и артисты с мировым именем, которые собирают <br>
                огромные толпы и бурные овации.
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/1.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--2">
            <div class="fact-item-content">
              <div class="fact-item-sign">Окультуриться — всегда полезно</div>
              <div class="fact-item-title">
                Театр драмы <br>
                им. Горького
              </div>
              <div class="fact-item-desc">
                Краснодарский театр драмы остаётся самой крупной <br>
                театральной площадкой края. <br>
                <br>
                Спектакли ежесезонно посещают более 130 тысяч зрителей, <br>
                в репертуаре — более тридцати постановок для зрителей всех <br>
                возрастов. Бережно сохраняя вековые традиции, сегодня театр <br>
                идет в ногу со временем, привлекая все большее внимание <br>
                театральной общественности, молодежи города и края. <br>
                <br>
                Интересный факт: 29 апреля 2020 года театр отметил свой <br>
                сотый день рождения.
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/2.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--3">
            <div class="fact-item-content">
              <div class="fact-item-sign">Отлично подойдет для романтического свидания</div>
              <div class="fact-item-title">
                Чистяковская <br>
                роща
              </div>
              <div class="fact-item-desc">
                Парк является одним из самых древних и одновременно <br>
                молодых скверов на территории Краснодара. Год его <br>
                основания — 1900-й. Дубам, из которых состоит основная <br>
                масса насаждений, около века. Высажены эти многовековые <br>
                деревья были не случайно, а по указу городской думы. <br>
                <br>
                На территории парка занятия себе найдут как пожилые люди, <br>
                так и молодежь. Детям здесь также будет интересно. <br>
                <br>
                Интересный факт: парк обязан своим названием бывшему <br>
                главе города Гавриилу Чистякову.
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/3.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fact-item fact-item--4">
            <div class="fact-item-content">
              <div class="fact-item-sign">Прогуляться и подышать чистым воздухом</div>
              <div class="fact-item-title">
                Кубанская <br>
                набережная
              </div>
              <div class="fact-item-desc">
                Обустроенная зона вдоль реки Кубань в Западном округе. <br>
                Представляет собой удобные дорожки для пешеходных <br>
                и велопрогулок. <br>
                <br>
                Протянулась от автомобильного моста до городского пляжа. <br>
                Рядом располагается один из крупных парков Краснодара, <br>
                посвящённый воинской славе, и знаменитый Мост Поцелуев. <br>
                По дороге встретятся аттракционы и кафе с местной кухней. <br>
                <br>
                Есть как исторические места, так и современные развлекательные. <br>
                Провести время будет интересно в любом возрасте и в любой компании. <br>
              </div>
            </div>
            <div class="fact-item-picture">
              <img src="img/fact/1.png" alt="" class="fact-item-img fact-item-img--1">
            </div>
          </div>
        </div>


      </div>
      <button class="btn btn-fab btn--primary btn--white-bg fact-btn fact-prev">
        <svg class="icon color-text">
          <use xlink:href="img/icons.svg#to-left" />
        </svg>
      </button>
      <button class="btn btn-fab btn--primary btn--white-bg fact-btn fact-next">
        <svg class="icon color-text">
          <use xlink:href="img/icons.svg#to-right" />
        </svg>
      </button>
    </div>
  </section>
  <script>
    new Swiper('.fact .swiper', {
      slidesPerView: 1,
      spaceBetween: 40,
      navigation: {
        prevEl: '.fact-prev',
        nextEl: '.fact-next',
      },
      speed: 1000,
      autoplay: {
        // delay: 0,
        disableOnInteraction: false
      },
    })
  </script>

  <section class="greeting">
    <div class="greeting-title title fade-in-down" data-scroll>
      Мы от всей души поздравляем <br>
      вас с праздником весны <br>
      и труда
    </div>
    <div class="greeting-desc fade-in-down" data-scroll>
      Желаем вам много солнечных дней, ярких эмоций и новых достижений. <br>
      Пусть ваша работа приносит не только материальное благополучие, но и удовлетворение от того, <br>
      что вы делаете. Будьте здоровы, энергичны и находите время для себя и своих близких. <br>
      Пусть ваша жизнь будет полна ярких красок и успехов! С праздником весны и труда!
    </div>
  </section>

  <section class="feedback">
    <div class="feedback-block">
      <div class="feedback-title title fade-in-down" data-scroll>
        Поздравить близких, <br>
        друзей и коллег
      </div>
      <div class="feedback-desc fade-in-down" data-scroll>
        Напишите поздравление от всей души для своих знакомых, <br>
        коллег или друзей. Они смогут увидеть ваше поздравление <br>
        ниже, когда зайдут на сайт ;)
      </div>
      <label class="feedback-field form-field mb-8 fade-in-down" data-scroll>
        <div class="text-body-2 text--demibold mb-2">От кого</div>
        <div class="form-input-cover">
          <input type="text" class="form-input">
        </div>
      </label>
      <label class="feedback-field form-field fade-in-down" data-scroll>
        <div class="text-body-2 text--demibold mb-2">Поздравление</div>
        <div class="form-input-cover">
          <textarea name="" id="" cols="30" rows="10" class="form-input"></textarea>
        </div>
      </label>
      <button class="feedback-field btn btn--primary btn--fill btn-large mt-6 fade-in-down" data-scroll>Отправить</button>
      <div class="feedback-field text-body-2 fade-60 mt-6 fade-in-down" data-scroll>
        Отправляя поздравление вы даете согласие на то, чтобы
        прочитавший его почувствовал радость и ваше тепло
      </div>

      <div class="feedback-img feedback-img--1 fade-in-down" data-scroll>
        <img src="img/feedback-left.png" alt="">
      </div>
      <div class="feedback-img feedback-img--2 fade-in-down" data-scroll>
        <img src="img/feedback-right.png" alt="">
      </div>
    </div>
  </section>


  <section class="review">
    <div class="review-title title fade-in-down" data-scroll>
      Ваши прекрасные <br>
      поздравления
    </div>
    <div class="review-slider swiper fade-in-down" data-scroll>
      <div class="swiper-wrapper">
        <% for(let i=0; i < 12; i++){ %>
        <div class="swiper-slide review-item">
          <div class="flex flex-align-center mb-5 mb-md-10">
            <img src="img/avatar-1.png" alt="" class="d-block mr-5">
            <div class="text-body-2 text-md-subtitle-2 text--bold">Ирина Новикова</div>
          </div>
          <div class="lh-1-5 text-small text-md-body-1">
            Пусть в новом году вам сопутствует удача, успех и достаток. Наслаждайтесь каждым мгновением вашей жизни,
            будьте с любимыми, окружайте себя и своих близких теплом и заботой, согревайте их своей любовью, а они в
            ответ согреют вас. Будьте счастливы, с Новым годом!

            И кстати. Сделайте пожалуйста баннер
            с акцией, тз пока нет, вы сделайте, а мы посмотрим и тогда составим
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>
  <script>
    new Swiper('.review-slider', {
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 10,
      loop: true,
      speed: 3000,
      autoplay: {
        delay: 0,
        disableOnInteraction: false
      },
      breakpoints: {
        [MEDIA.xs]: {
          spaceBetween: 24,
        }
      }
    })
  </script>


  <footer class="footer">
    <img src="img/footer-left.png" alt="" class="mb-10 mr-2 fade-in-down" data-scroll>
    <img src="img/footer-center.png" alt="" class=" fade-in-down" data-scroll>
    <img src="img/footer-right.png" alt="" class="mb-5 fade-in-down" data-scroll>
  </footer>

</body>

</html>