@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small: 4px;
	--radius-middle: 8px;
	--radius-large: 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Inter', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
	@include getColors(#EF3232, "primary");
	@include getColors(#CE9B44, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#302B44, "text");
}

[data-theme="dark"] {

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
	@include getColors(#ffffff, text);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background:
		url("../img/bg.jpg") repeat-y top / 100% auto,
		var(--bg3);
	color: var(--color-text);


	* {
		font-family: var(--font-base);
	}

	&.menu-open {
		overflow: hidden;
	}
}

body:not(.loaded) {
	overflow: hidden;
}

section {}

.btn--contur {

	@media(hover) {
		&:hover {
			background: linear-gradient(84.16deg, rgba(255, 227, 211, 0.3) 0%, rgba(209, 244, 242, 0) 87.85%), #302B44;
			background-clip: padding-box;
			border-color: rgba(48, 43, 68, 0);
			color: #fff;
		}
	}

	&:focus:not(:active) {
		background: linear-gradient(84.16deg, rgba(255, 227, 211, 0.3) 0%, rgba(209, 244, 242, 0) 87.85%), #302B44;
		background-clip: padding-box;
		border-color: rgba(48, 43, 68, 0);
		color: #fff;
	}
}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.background {
	position: relative;
	width: 100%;
	height: 100vh;

	&-wrapper {
		position: absolute;
		inset: 0;
		height: 2000px;
		overflow: hidden;
		pointer-events: none;
	}

	&-item {
		--duration: 5s;
		position: absolute;
		border-radius: 50%;
		animation: bubbles var(--duration) infinite both;

		&--1 {
			top: 0px;
			right: calc(100% * (-72) / 1920);
			width: calc(100% * 558 / 1920);
			height: calc(100% * 368 / 1080);
			opacity: 0.2;

			background: #FF4B47;
			filter: blur(100px);
		}

		&--2 {
			top: calc(100% * 176 / 1080);
			left: calc(100% * 740 / 1920);
			width: calc(100% * 1381 / 1920);
			height: calc(100% * 445 / 1080);
			opacity: 0.3;
			transform: matrix(-0.87, -0.25, -0.62, 0.95, 0, 0);

			background: #FFF59D;
			animation-delay: calc(var(--duration) / 4);
			filter: blur(100px);
		}

		&--3 {
			top: calc(100% * 630 / 1080);
			left: calc(100% * 1100 / 1920);
			width: calc(100% * 776 / 1920);
			height: calc(100% * 148 / 1080);
			opacity: 0.4;
			transform: matrix(-0.88, -0.23, -0.58, 0.96, 0, 0);

			background: linear-gradient(91.07deg, #00A6FF -2.42%, #48FFBF 88.53%);
			animation-delay: calc(2 * var(--duration) / 4);
			filter: blur(100px);
		}

		&--4 {
			top: calc(100% * 562 / 1080);
			left: calc(100% * 635 / 1920);
			width: calc(100% * 708 / 1920);
			height: calc(100% * 468 / 1080);
			opacity: 0.2;
			transform: matrix(-1, 0, 0, 1, 0, 0);

			background: #FFA0A0;
			animation-delay: calc(3 * var(--duration) / 4);
			filter: blur(100px);
		}
	}
}

@keyframes bubbles {
	50% {
		opacity: .5;
	}
}

.fade-in {
	transition: .5s;

	&[data-scroll]:not(.is-inview) {
		opacity: 0;
	}
}

.fade-in-left {
	transition: .5s;

	&[data-scroll]:not(.is-inview) {
		opacity: 0;
		transform: translateX(-32px);
	}
}

.fade-in-down {
	transition: .5s;

	&[data-scroll]:not(.is-inview) {
		opacity: 0;
		transform: translateY(32px);
	}
}

.title {
	background: linear-gradient(270.31deg, rgba(16, 150, 53, 0.6) 0.13%, rgba(7, 102, 33, 0) 64.36%, rgba(16, 150, 53, 0) 64.36%), linear-gradient(96.09deg, rgba(255, 199, 0, 0.6) 0%, rgba(255, 199, 0, 0) 69.24%), #7AD940;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 60px;
	font-weight: 900;
	line-height: 1.1;
	text-align: center;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;

	@media (max-width:$lg) {
		font-size: 50px;
	}

	@media (max-width:$md) {
		font-size: 40px;
	}

	@media (max-width:$sm) {
		font-size: 32px;
	}
}

// header -=::=--=::=--=::=--=::=--=::=--=::=--=::=--=::=-
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 42px;

	@media (max-width:$md) {
		padding-top: 16px;
	}

	&-logo {
		@media (max-width:$sm) {
			width: 100px;
		}
	}

	&-sign {
		@media (max-width:$sm) {
			width: 100px;
		}
	}

	&-phone {
		@media (max-width:$sm) {
			width: 180px;
		}
	}
}

.dialog-form {
	display: flex;
	align-items: center;
	width: 830px;
	max-width: 100%;
	padding: 16px;
	padding-right: 32px;
	background: #FFFFFF;
	border-radius: 24px;

	@media(max-width:1023.98px) {
		width: 600px;
		padding: 32px;
	}

	&__img {
		width: 410px;
		min-width: 410px;
		overflow: hidden;
		margin-right: 52px;
		border-radius: 24px;

		@media(max-width:1023.98px) {
			display: none;
		}
	}

	&__content {
		flex-grow: 1;
	}

	&__title {
		margin-bottom: 0.8em;
		font-size: 32px;
		font-weight: 600;
	}
}

.started {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding-top: 286px;
	padding-bottom: 185px;
	text-align: center;
	// overflow      : hidden;

	@media (max-width:$md) {
		padding-bottom: 80px;
	}

	@media (max-width:$sm) {
		overflow: hidden;
		margin-top: -44px;
		padding-top: 330px;
	}

	@media (max-width:$xs) {
		overflow: hidden;
		padding-top: 304px;
		padding-bottom: 32px;
	}

	&-title {
		margin-bottom: 46px;

		@media (max-width:$sm) {
			margin-bottom: 20px;
		}
	}

	&-subtitle {
		font-size: 20px;
		font-weight: 400;

		@media (max-width:$lg) {
			font-size: 16px;
		}

		@media (max-width:$sm) {


			br {
				display: none;
			}
		}
	}

	&-img {
		position: absolute;
		animation: fly 6s ease infinite both;
		pointer-events: none;

		@media (max-width:$md) {
			width: 180px;
		}

		@media (max-width:$sm) {
			width: 120px;
		}

		&--1 {
			top: 280px;
			right: calc(50% + 538px);
			animation-delay: 1s;

			@media (max-width:$lg) {
				right: calc(50% + 300px);
			}

			@media (max-width:$md) {
				top: 100px;
				right: calc(50% + 100px);
			}

			@media (max-width:$sm) {
				top: 144px;
				right: calc(50% + 100px);
			}

			@media (max-width:$xs) {
				right: calc(50% + 50px);

			}
		}

		&--2 {
			top: 0;
			left: calc(50% - 131px);

			@media (max-width:$lg) {
				left: calc(50% - 90px);
			}

			@media (max-width:$sm) {
				top: 44px;
				left: calc(50% - 60px);
			}

			@media (max-width:$xs) {
				top: 54px;
			}
		}

		&--3 {
			top: 280px;
			left: calc(50% + 568px);
			animation-delay: 2s;

			@media (max-width:$lg) {
				top: 100px;
				left: calc(50% + 200px);
			}

			@media (max-width:$md) {
				left: calc(50% + 100px);
			}

			@media (max-width:$sm) {
				top: 164px;
				left: calc(50% + 100px);
			}

			@media (max-width:$xs) {
				left: calc(50% + 50px);

			}
		}
	}

	&--plug {
		flex-grow: 1;
		padding-bottom: 180px;

		@media (max-width:$sm) {
			flex-grow: 0;
			padding-top: 220px;
		}

	}

	&--plug &-img {
		&--1 {
			top: 280px;
			right: calc(50% + 450px);

			@media (max-width:1300px) {
				right: calc(50% + 350px);

			}

			@media (max-width:$md) {
				top: auto;
				right: auto;
				bottom: 20px;
				left: 20px;

			}
		}

		&--2 {
			top: -40px;
			left: calc(50% - 180px);

			@media (max-width:$md) {
				top: 60px;
				left: calc(50% - 90px);
			}

			@media (max-width:$sm) {
				top: 100px;
				left: calc(50% - 60px);
			}
		}

		&--3 {
			top: 320px;
			left: calc(50% + 420px);

			@media (max-width:1300px) {
				left: calc(50% + 320px);

			}

			@media (max-width:$md) {
				top: auto;
				right: 20px;
				bottom: 20px;
				left: auto;

			}
		}
	}

	&--plug &-title {
		@media (max-width:1300px) {
			font-size: 50px;
		}

		@media (max-width:$md) {
			font-size: 32px;
		}
	}

	&--plug &-subtitle {
		@media (max-width:1300px) {
			font-size: 16px;
		}

		@media (max-width:$md) {
			font-size: 14px;
		}
	}
}

.fact {
	overflow: hidden;

	@media(max-width:$lg) {
		padding-right: 15px;
		padding-left: 15px;
	}

	@media (max-width:$md) {
		padding: 0;
	}

	.swiper {
		position: relative;
		overflow: visible;
	}

	&-item {
		position: relative;
		height: 728px;
		overflow: hidden;
		padding: 80px;
		border-radius: 60px;

		@media(max-width:$lg) {
			height: 640px;
			padding: 60px 40px;
			border-radius: 40px;
		}

		@media (max-width:$md) {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 0;
			border-radius: 0;

			br {
				display: none;
			}
		}

		&-content {
			position: relative;
			z-index: 2;

			@media (max-width:$md) {
				padding: 32px 15px;
			}
		}

		&-picture {
			@media (max-width:$md) {
				order: -1;
				position: relative;
				height: 400px;
				overflow: hidden;
			}
		}

		&-sign {
			--hide-transform: translateY(20px);
			margin-bottom: 32px;
			transition: .5s .2s;
			font-size: 18px;
			font-weight: 700;

			@media(max-width:$lg) {
				font-size: 16px;
			}

		}

		&-title {
			--hide-transform: translateY(20px);
			margin-bottom: 32px;
			transition: .5s .3s;
			font-size: 64px;
			font-weight: 900;

			@media(max-width:$lg) {
				font-size: 44px;
			}

			@media (max-width:$md) {
				font-size: 32px;
			}
		}

		&-desc {
			--hide-transform: translateY(20px);
			transition: .5s .4s;
			font-size: 18px;
			line-height: 1.5;

			@media(max-width:$lg) {
				font-size: 16px;
			}

			@media (max-width:$md) {
				font-size: 14px;
			}
		}

		&-img {
			--hide-transform: translateX(40px);
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			object-fit: scale-down;
			object-position: right;

			@media (max-width:$md) {
				max-height: 100%;
			}

			img {
				max-height: 100%;
			}
		}

		&-img--1 {
			transition: .5s .5s;
		}

		&-img--2 {
			transition: .5s .55s;
		}

		&-img--3 {
			transition: .5s .6s;
		}

		&-img--4 {
			transition: .5s .65s;
		}

		&-img--5 {
			transition: .5s .7s;
		}

		&-img--6 {
			transition: .5s .75s;
		}

		&--1 {
			background: linear-gradient(70.96deg, #59861E -8.82%, #81E83D 103.96%);
			color: #fff;
		}

		&--2 {
			background: linear-gradient(251.21deg, #CBC30C -5.08%, #EC1822 100%);
			color: #fff;
		}

		&--3 {
			background: linear-gradient(72.04deg, #5855F4 0%, #A09EFF 109.74%);
			color: #fff;
		}

		&--4 {
			background: linear-gradient(74.44deg, #53B7E8 -26.7%, #5374E8 100%);
			color: #fff;
		}
	}

	.swiper-slide:not(.swiper-slide-active) &-item-sign,
	.swiper-slide:not(.swiper-slide-active) &-item-title,
	.swiper-slide:not(.swiper-slide-active) &-item-img,
	.swiper-slide:not(.swiper-slide-active) &-item-desc {
		opacity: 0;
		transform: var(--hide-transform);
	}

	&-btn {
		--size: 80px;
		position: absolute;
		top: calc(50% - 40px);
		font-size: 28px;
		z-index: 3;

		@media(max-width:$lg) {
			--size: 60px;
			top: calc(50% - 30px);
			font-size: 20px;
		}

		@media (max-width:$md) {
			--size: 40px;
			top: calc(400px - 40px - 20px);
			font-size: 16px;
		}
	}

	&-prev {
		left: -60px;

		@media(max-width:$lg) {
			left: -10px;
		}

		@media (max-width:$md) {
			left: 10px;
		}
	}

	&-next {
		right: -60px;

		@media(max-width:$lg) {
			right: -10px;
		}

		@media (max-width:$md) {
			right: 10px;
		}
	}
}

.greeting {
	padding: 100px 15px 60px;

	@media (max-width:$xs) {
		padding-top: 40px;
		padding-bottom: 20px;
	}

	&-title {
		margin-bottom: 48px;

		@media (max-width:$xs) {
			margin-bottom: 20px;
			font-size: 28px;
		}
	}

	&-desc {
		font-size: 18px;
		line-height: 1.5;
		text-align: center;

		@media (max-width:$md) {
			font-size: 16px;

			br {
				display: none;
			}
		}

		@media (max-width:$xs) {
			font-size: 15px;
		}
	}
}

.feedback {

	@media(max-width:$lg) {
		padding-right: 15px;
		padding-left: 15px;
	}

	@media (max-width:$md) {
		padding: 0;
	}

	@media (max-width:$sm) {
		order: 10;
	}

	&-block {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		padding: 80px;
		background: #FFEED3;
		border-radius: 60px;

		@media (max-width:$md) {
			overflow: hidden;
			padding-right: 15px;
			padding-left: 15px;
			border-radius: 0;
		}

		@media (max-width:$sm) {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	&-title {
		margin-bottom: 32px;

	}

	&-desc {
		position: relative;
		margin-bottom: 45px;
		font-size: 18px;
		line-height: 1.5;
		text-align: center;

		@media (max-width:$md) {
			font-size: 14px;

		}

		@media (max-width:$sm) {
			br {
				display: none;
			}
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -85px;
			left: -45px;
			width: 57px;
			height: 97px;
			background: url("../img/feedback-arrow-1.png") no-repeat center / contain;

			@media (max-width:$md) {
				display: none;
			}
		}

		&::after {
			content: '';
			position: absolute;
			right: -60px;
			bottom: -95px;
			width: 93px;
			height: 105px;
			background: url("../img/feedback-arrow-2.png") no-repeat center / contain;

			@media (max-width:$md) {
				display: none;
			}
		}
	}

	&-field {
		position: relative;
		width: 410px;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		z-index: 2;

		textarea {
			height: 248px;
		}
	}

	&-img {
		position: absolute;
		pointer-events: none;

		@media (max-width:$sm) {
			display: none;
		}

		&--1 {
			bottom: 213px;
			left: 67px;
			animation: fly 6s ease infinite both;
		}

		&--2 {
			right: 102px;
			bottom: 212px;
			animation: fly 6s 2s ease infinite both;
		}
	}
}

.review {
	padding-top: 80px;
	padding-right: 0;
	padding-bottom: 100px;
	padding-left: 0;

	@media (max-width:$xs) {
		padding-top: 20px;
		padding-bottom: 40px;
	}

	&-title {
		margin-bottom: 80px;

		@media (max-width:$xs) {
			margin-bottom: 32px;
		}
	}

	&-slider {
		width: 100%;

		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}

	&-item {
		width: 394px;
		padding: 48px 32px;
		background: #FFDDDD;
		border-radius: 60px;

		@media (max-width:$xs) {
			width: 300px;
			padding: 32px 20px;
			border-radius: 32px;
		}
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-right: 15px;
	padding-left: 15px;

	@media(max-width:$lg) {
		display: none;

	}

	img {
		&:nth-of-type(1) {
			animation: fly 6s ease infinite both;
		}

		&:nth-of-type(3) {
			animation: fly 6s 2s ease infinite both;
		}
	}
}


@keyframes fly {
	50% {
		transform: translateY(-25px);
	}
}

.dialog-success {
	width: 500px;
	max-width: 100%;
	margin-top: 100px;
	background: #FF9EC1;
	border-radius: 32px;

	@media(max-width:$sm) {
		border-radius: 20px;
	}

	&__img {
		background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0) 60%);

		img {
			display: inline-block;
			width: calc(100% + 240px);
			max-width: calc(100% + 240px);
			margin-top: -20px;
			margin-left: -120px;

			@media(max-width:$sm) {
				width: calc(100% + 100px);
				max-width: calc(100% + 100px);
				margin-left: -50px;
			}
		}
	}

	&__content {
		padding: 45px;
		color: #fff;

		@media(max-width:$sm) {
			padding: 20px;
		}
	}

	&__sign {
		font-size: 24px;
		font-weight: 900;
		text-align: center;

		@media(max-width:$sm) {
			font-size: 18px;
		}
	}

	&__title {
		font-size: 48px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;

		@media(max-width:$sm) {
			font-size: 32px;

		}
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 900;
		text-align: center;

		@media(max-width:$sm) {
			font-size: 18px;
		}
	}

	&__btn {
		width: 100%;
		margin-top: 30px;
		color: var(--color-text);
	}
}